﻿@import 'global';

.ui-elements {
  padding:10px;
  .form-group{
    margin-top: 5px;
    margin-bottom:10px;
  }
}
.cmn-padding{
  padding:10px 0;
}
.form-group-holder {
  margin-top: 10px;
}
.form-group-icon{
  width:50px;
  padding: 7px 0;
  text-align: center;
  border-bottom: 1px solid $hcmbgdarkgrey;
}
.cust-text-area-icon{
  vertical-align: bottom;
  margin-bottom: 10px;
}
.cust-text-area{
  vertical-align: bottom;
}
//.cust-dp-group{
//position:relative;
//}
.cust-dp-icon {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 20px;

}
.cust-dp-icon-color{
  color:$hcmtextdarkgrey;
}
.cust-dp-icon-color.focused{
  color:$hcmtextred;
}
.form-group-icon{
  color:$hcmtextdarkgrey;
}

//Meterial Switch

.switch_checkbox {
  display: none;
}

.switchbtn {
  width: 154px;
  height: 60px;
  z-index: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
  position: relative;
  border-radius: 100px;

}

.switchbtn:before {
  content: ' ';
  position: absolute;
  left: 2px;
  top: 1px;
  width: 150px;
  height: 60px;
  background: $hcmbggreen;
  z-index: 99;
  border-radius: 52px;
  -webkit-transition: .4s;
  transition: .4s;
}

.switchbtn:after {
  content: 'OFF';
  height: 60px;
  width: 60px;
  border-radius: 52px;
  background-color: #fff;
  position: absolute;
  z-index: 999;
  top: 1px;
  left: 2px;
  text-align: center;
  box-shadow: 0 2px 5px #999999;
  padding-top: 16px;
  font-size: 20px;
  -webkit-transition: .4s;
  transition: .4s;
}

.switchon, .switchon:before {
  background-color: $hcmbgred !important;
}

.switchon:after {
  left: 95px !important;
  content: 'ON';
  color: #00709D;
  -webkit-transition: .4s;
  transition: .4s;
}


.switch {
  border: solid 1px #ccc;
  border-radius: 20px;
  display: inline-block;
  height: 40px;
  overflow: hidden;
  -ms-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  width: 100px;
  padding:0;
}
.switch [type=checkbox] {
  display: none;
}
.switch .label2 {
  cursor: pointer;
  margin-left: -60px;
  -ms-transition: margin .1s;
  -moz-transition: margin .1s;
  -o-transition: margin .1s;
  -webkit-transition: margin .1s;
  transition: margin .1s;
  white-space: nowrap;
}
.switch :checked + .label2 {
  margin-left: 0;
}
.switch .label2 > * {
  vertical-align: top;
}
.switch .on,
.switch .off {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  text-align: center;
  width: 80px;
}
.switch .on {
  background-color:$hcmbgred;
  color: #fff;


}
.switch .separator {
  background-color: #eee;
  border: solid 1px #999;
  border-radius: 50%;
  box-sizing: border-box;
  display: inline-block;
  height: 40px;
  margin: 0 -21px;
  position: relative;
  width: 40px;
}
.switch .off {
  background-color: $hcmbgred;

  color: #fff;
  text-shadow: none;
}
.fr-xs-swith.switchbtn{
  width:74px;
  height:23px;
}
.fr-xs-swith.switchbtn:before{
  width:70px;
  height:21px;
}
.fr-xs-swith.switchbtn:after{
  width:20px;
  height:20px;
  padding-top: 10px;
  font-size: 12px;
}
.fr-xs-swith.switchon:after {
  left: 53px !important;
  content:'';
}
.fr-xs-swith.switchbtn:after{
  content:'';
}

//Buttons

.btn{
  font-family: 'DINPro-Regular';
}

body .hcm-btn-primary{

  background-color:$hcmbgred;
  color:#fff;
  &:hover{
    background-color:$hcmred-hover;
    color:#fff;
  }

}

body .hcm-btn-secondary{

  background-color:$hcmbgblue;
  color:#fff;
  &:hover{
    background-color:$hcmblue-hover;
    color:#fff;
  }

}


//Radio buttons

.lbl-control{
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 14px;
  font-weight: normal;
  font-family: 'DINPro-Regular';
}

.lbl-control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.lbl-control input:checked ~ .control-indicator {
  /* background: #2aa1c0; */
  border: 1px solid $hcmbgred;
}

.control-radio .control-indicator {
  border-radius: 50%;
}

.control-indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  border: 1px solid $hcmbgblue;
}
.lbl-control input:checked ~ .control-indicator:after {
  display: block;
}

.control-radio .control-indicator:after {
  left: 6px;
  top: 6px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: red;
}

.control-indicator:after {
  content: '';
  position: absolute;
  display: none;
}

//Checkboxes

.control-checkbox input:checked ~ .control-indicator {

  border: 1px solid $hcmbgred;
}

.control-checkbox input:checked ~ .control-indicator:after {
  width: 10px;
  height: 10px;
  background: $hcmbgred;
  top: 4px;
  left: 4px;
}


/* Action_button Starts */
.hcm-action-btn {
    position: fixed;
    border-radius: 0 25px 25px 0;
    overflow: hidden;
    right:5px;
    top: 145px;

    .action-btn {
        display: inline-block;
        width: 40px;
        height: 40px;
        border: 2px solid $hcmbgblue;
        border-radius: 100%;
        text-align: center;
        background:$hcmbgred;
        cursor: pointer;
        float: right;
        z-index: 999;
        position: relative;
        .hcmicon-action {
            color: $hcmtextwhite;
            line-height:38px;
            font-size: 25px;
        }
    }
    .hcm-action-elements {
        display: inline-block;
        position: relative;
        top: 3px;
        right: calc(-100% + 30px);
        border: 2px solid $hcmbgashgrey;
        padding: 0 0px 0 10px;
        height: 100%;
        background:$hcmbggrey;
        border-radius: 10px;
        float: right;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        ul {
            display:block;
            padding: 0 30px 0 0;
            margin: 0px;
            width: 100%;
            float: left;
            li {
                display: inline-block;
                float: left;
                margin: 0 5px;
                a {
                    display: block;
                    text-decoration: none !important;
                    margin: 0px;
                    padding: 0px;
                    color:$hcmtextdarkgrey;
                    &:hover {
                      color:$hcmred-hover;
                    }
                    span {
                        line-height: 32px;
                        font-size: 22px;
                        font-weight: bold;
                    }
                }
            }
        }
        &.open {
            right: -30px;
        }
    }
}
/* Action_button Ends */




/* table Progress bar  */
.progress{
    width: 30px;
    height:30px;
    line-height:30px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
    margin-top: -5px;
    &::after{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 12px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
}
span{
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}
.progress-left{
    left: 0;
}
.progress-bar{
    width: 100%;
    height: 100%;
    background: none;
    border-width: 12px;
    border-style: solid;
    position: absolute;
    top: 0;
}
.progress-left .progress-bar{
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}
.progress-right{
    right: 0;

    .progress-bar{
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    animation: loading-1 1.8s linear forwards;
}
}
.progress-value{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: #44484b;
    font-size: 24px;
    color: #fff;
    line-height: 135px;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 5%;
}
}

.progress.blue .progress-bar{
    border-color: #049dff;
}
.progress.blue .progress-left .progress-bar{
    animation: loading-2 1.5s linear forwards 1.8s;
}
.progress.yellow .progress-bar{
    border-color: #fdba04;
}
.progress.yellow .progress-left .progress-bar{
    animation: loading-3 1s linear forwards 1.8s;
}
.progress.pink .progress-bar{
    border-color: #ed687c;
}
.progress.pink .progress-left .progress-bar{
    animation: loading-4 0.4s linear forwards 1.8s;
}
.progress.green .progress-bar{
    border-color: #1abc9c;
}
.progress.green .progress-left .progress-bar{
    animation: loading-5 1.2s linear forwards 1.8s;
}
@keyframes loading-1{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}
@keyframes loading-2{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(144deg);
        transform: rotate(144deg);
    }
}
@keyframes loading-3{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}
@keyframes loading-4{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(36deg);
        transform: rotate(36deg);
    }
}
@keyframes loading-5{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(126deg);
        transform: rotate(126deg);
    }
}


/*table css*/
.table-bordered {
    border: none;
}
.table-responsive a{ color:#333;}
thead {
    background: #f9db00;
    color: #333;
}
.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border-bottom: 1px solid #ddd !important;
    border: 0;
}
.react-bs-table {
    border: 0px solid #ddd;
    border-radius: 0;
}
/*Tabs content*/
.tabs-circle {
  border:none; 
  margin:auto; 
  float:none; 
  text-align:center;
  
  li{
    text-align: center;
    /*margin: 10px 32px;*/
    float:none;
    display:inline-block;
    width: 100px;
    position: relative;
    &:after{
      width: 100%;
      height: 2px;
      display: block;
      background: $hcmbgblue;
      content: '';
      position:absolute;
      top:24px;
      left:0; 
    }
    &:first-child{
      &:after{ width: 50%; left:inherit; right: 0px;}
    }
    &:last-child{
      &:after{ width: 50%;}
    }
    a{ 
      display: block;
      background:$hcmbgwhite;
      border:none; 
      margin:0px; 
      border-radius:50%;
      width: 50px; 
      height: 50px; 
      padding:8px 4px;
      position: relative;
      z-index: 99;
      margin: 0 auto;
      border:2px solid $hcmbgblue;
      span{ 
        padding:0px; 
        font-size: 25px;
        line-height: 30px;
      }
      &:hover {
        background: $hcmbgblue;
        background: $hcmbgwhite;
        border:2px solid $hcmbgblue;
      }
    }
    label{ 
      font-weight:normal; 
      font-size:12px; 
      white-space:nowrap;
      text-transform: capitalize;
      color:$hcmbgblue;
      margin: 0px;
    }
    &.active {
      a {
        background:$hcmbgblue; 
        color: $hcmtextwhite;
        border:2px solid $hcmbgblue;
        &:hover {
          background: $hcmbgblue;
          border:2px solid $hcmbgblue;
          color: $hcmtextwhite;
        }
      }
      label {
        color: $hcmtextred;
      }
    }
  }
  
}
/*Tabs content end*/
