@font-face {
  font-family: 'DINPro-Regular';
  src: url('/fonts/DINPro-Regular.eot?#iefix') format('embedded-opentype'),  url('/fonts/DINPro-Regular.otf')  format('opentype'),
	     url('/fonts/DINPro-Regular.woff') format('woff'), url('/fonts/DINPro-Regular.ttf')  format('truetype'), url('/fonts/DINPro-Regular.svg#DINPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DINPro-Bold';
  src: url('/fonts/DINPro-Bold.eot?#iefix') format('embedded-opentype'),  url('/fonts/DINPro-Bold.otf')  format('opentype'),
	     url('/fonts/DINPro-Bold.woff') format('woff'), url('/fonts/DINPro-Bold.ttf')  format('truetype'), url('/fonts/DINPro-Bold.svg#DINPro-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DINPro-Medium';
  src: url('/fonts/DINPro-Medium.eot?#iefix') format('embedded-opentype'),  url('/fonts/DINPro-Medium.otf')  format('opentype'),
	     url('/fonts/DINPro-Medium.woff') format('woff'), url('/fonts/DINPro-Medium.ttf')  format('truetype'), url('/fonts/DINPro-Medium.svg#DINPro-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'hcm';
  src:  url('/fonts/hcm.eot?f6qrxk');
  src:  url('/fonts/hcm.eot?f6qrxk#iefix') format('embedded-opentype'),
    url('/fonts/hcm.woff2?f6qrxk') format('woff2'),
    url('/fonts/hcm.ttf?f6qrxk') format('truetype'),
    url('/fonts/hcm.woff?f6qrxk') format('woff'),
    url('/fonts/hcm.svg?f6qrxk#hcm') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="hcmicon-"], [class*=" hcmicon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'hcm' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size:24px; 

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hcmicon-action:before {
  content: "\e900";
}
.hcmicon-active:before {
  content: "\e901";
}
.hcmicon-add:before {
  content: "\e902";
}
.hcmicon-alerts:before {
  content: "\e903";
}
.hcmicon-analytics:before {
  content: "\e904";
}
.hcmicon-attendance:before {
  content: "\e905";
}
.hcmicon-audio-clips:before {
  content: "\e906";
}
.hcmicon-benefits:before {
  content: "\e907";
}
.hcmicon-budget:before {
  content: "\e908";
}
.hcmicon-call:before {
  content: "\e909";
}
.hcmicon-cancel:before {
  content: "\e90a";
}
.hcmicon-certificate:before {
  content: "\e90b";
}
.hcmicon-companies:before {
  content: "\e90c";
}
.hcmicon-compensation:before {
  content: "\e90d";
}
.hcmicon-compliances:before {
  content: "\e90e";
}
.hcmicon-conversation:before {
  content: "\e90f";
}
.hcmicon-dashboard:before {
  content: "\e910";
}
.hcmicon-data:before {
  content: "\e911";
}
.hcmicon-documents:before {
  content: "\e912";
}
.hcmicon-download:before {
  content: "\e913";
}
.hcmicon-edit:before {
  content: "\e914";
}
.hcmicon-education:before {
  content: "\e915";
}
.hcmicon-email:before {
  content: "\e916";
}
.hcmicon-emp-additional:before {
  content: "\e917";
}
.hcmicon-emp-feedback:before {
  content: "\e918";
}
.hcmicon-emp-performance:before {
  content: "\e919";
}
.hcmicon-emp-profile:before {
  content: "\e91a";
}
.hcmicon-emp-team:before {
  content: "\e91b";
}
.hcmicon-employee-bgv:before {
  content: "\e91c";
}
.hcmicon-end-date:before {
  content: "\e948";
}
.hcmicon-export:before {
  content: "\e91d";
}
.hcmicon-favourate:before {
  content: "\e91e";
}
.hcmicon-filter:before {
  content: "\e91f";
}
.hcmicon-holiday:before {
  content: "\e920";
}
.hcmicon-import:before {
  content: "\e921";
}
.hcmicon-jd-client:before {
  content: "\e922";
}
.hcmicon-learning:before {
  content: "\e923";
}
.hcmicon-library:before {
  content: "\e924";
}
.hcmicon-list-view:before {
  content: "\e925";
}
.hcmicon-location:before {
  content: "\e926";
}
.hcmicon-logout:before {
  content: "\e927";
}
.hcmicon-map-view:before {
  content: "\e928";
}
.hcmicon-membership:before {
  content: "\e929";
}
.hcmicon-message:before {
  content: "\e92a";
}
.hcmicon-minus:before {
  content: "\e92b";
}
.hcmicon-my-profile:before {
  content: "\e92c";
}
.hcmicon-news-feeds:before {
  content: "\e92d";
}
.hcmicon-open-position:before {
  content: "\e92e";
}
.hcmicon-packages:before {
  content: "\e92f";
}
.hcmicon-payment:before {
  content: "\e930";
}
.hcmicon-payroll:before {
  content: "\e931";
}
.hcmicon-people:before {
  content: "\e932";
}
.hcmicon-pf:before {
  content: "\e933";
}
.hcmicon-project:before {
  content: "\e934";
}
.hcmicon-requirements:before {
  content: "\e935";
}
.hcmicon-rewards:before {
  content: "\e936";
}
.hcmicon-save:before {
  content: "\e937";
}
.hcmicon-selection-process:before {
  content: "\e938";
}
.hcmicon-settings:before {
  content: "\e939";
}
.hcmicon-share:before {
  content: "\e93a";
}
.hcmicon-show-password:before {
  content: "\e93b";
}
.hcmicon-skills:before {
  content: "\e93c";
}
.hcmicon-social-link:before {
  content: "\e93d";
}
.hcmicon-starting-date:before {
  content: "\e93e";
}
.hcmicon-subscription:before {
  content: "\e93f";
}
.hcmicon-switch-user:before {
  content: "\e940";
}
.hcmicon-template:before {
  content: "\e941";
}
.hcmicon-term-mode:before {
  content: "\e942";
}
.hcmicon-theme:before {
  content: "\e943";
}
.hcmicon-timesheet:before {
  content: "\e944";
}
.hcmicon-transaction:before {
  content: "\e945";
}
.hcmicon-upload:before {
  content: "\e946";
}
.hcmicon-video-call:before {
  content: "\e947";
}
