﻿@import 'global';

/*floating labels*/
.floating-labe1  {
  position: relative;
    .control-label{
        font-size: 13px;
        font-weight: 400;
        pointer-events: none;
        position: absolute;
        transform: translate3d(0, 14px, 0) scale(1);
        transform-origin: left top;
        transition: 240ms;
        color: #aaa;
    }
    .form-group { margin-bottom: 10px; }
    .textarea_group .control-label {
        margin-top: -5px;
        padding-bottom: 5px;
        background: #fff;
        width: 100%;
    }
    .form-group.focused .control-label {
        opacity: 1;
        transform: scale(0.74);
        color: #42a6db;
        font-size: 14px;
    }
    .form-control {
        align-self: flex-end;
        padding: 12px 7px 0px 0px;
        border: none;
        outline: none;
        background: none;
        box-shadow: none;
        border-bottom: 1px solid #dedbdb;
        border-radius: 0;
        font-size: 13px;
        position: relative;
        &:after {
            width:100%;
            content: "";
            display: block;
            background: blue;
            height: 2px;
            position: absolute;
            bottom: 0px;
            left:0px;

        }
    }
    .form-control::-webkit-input-placeholder {
     color: transparent;
     transition: 240ms;
    }
    .form-control:focus::-webkit-input-placeholder {
     transition: none;
    }
    .form-group.focused .form-control::-webkit-input-placeholder {
     color: #0e6252;
    }
}
