﻿@import 'global';
.main-header{
  position:relative;
  .header {
      background:$hcmbgwhite;
      position: relative;
      z-index: 99999;
      border-top: 4px solid $hcmbgred;
      border-bottom: 4px solid $hcmbgred;
      height: auto;
      position: relative;
      height:103px;
    .header-left {
      position: relative;
      background: $hcmbgyellow;
      min-width:175px;
      height: 95px;
      &::after {
        position: absolute;
        width: 20px;
        background: $hcmbgyellow;
        content: ''; height: 100%;
        right: -10px;
        transform: skewX(-10deg);
      }
    }
    .client-logo {
      position: absolute;
      background:$hcmbgwhite;
      height: 65px;
      min-width: 162px;
      float: none;
      &::after {
        background:$hcmbgyellow;
        content: '';
        position: absolute;
        width: 18px;
        height: 67px;
        right: -7px;
        transform: skewX(-10deg); }
      img {
        width: auto;
        margin: 0;
        padding: 2px;
      }
    }
    .menu-trigger {
      float: left;
      clear: both;
      .menu-icon-support{
        background:$hcmbgwhite;
        position: absolute;
        bottom: 0;
        width: 20px;
        .hamburger{
          background:$hcmbgwhite;
          border-radius: 50%;
          width: 45px;
          height: 45px;
          display: block;
          border: 2px solid $hcmbgred;
          text-align: center;
          line-height: 35px;
        }
        .cross {
          background:$hcmbgwhite;
          border-radius: 50%;
          width: 45px;
          height: 45px;
          display: block;
          border: 2px solid $hcmbgred;
          text-align: center;
          line-height: 35px;
        }
      }
    }
    .vTimeline {
      border-left:1px solid $hcmbgred;
      position: absolute;
      top: 4px; left: 205px;
      width: 100%;
      ul {
        margin: -7px 0px 0px -45px;
        width: 100%;
        li {
          background: url(/images/timeline_bg.png) left center no-repeat;
          padding-left: 15px; color:
          $hcmbgblue; text-shadow: none;
          font-size: 12px;
          line-height: 20px;
          display: block;
          &.current{
            background: url(/images/timeline_ac.png) left center no-repeat;
            color: #ef4747;
            a{
              text-decoration: none;
              color: $hcmtextred;
            }
          }
          &.timelineLast{
            background:$hcmbgblack;
            margin-top: -6px;
          }
        }
      }
    }
  }
  .header-mid {
    position: absolute;
    top:50%; left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
      img{ vertical-align: baseline}
  }

  .header-right {
    display: inline-block;
    .hcm-profile-menu {
      display: inline-block;
      background: $hcmbgyellow;
      height: 95px;
      position: relative;
      vertical-align: bottom;
      padding-top: 10px;

      &::after {
        content: '';
        position: absolute;
        left:-30px;
        top: 0px;
        width:30px;
        height: 100%;
        -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
        clip-path: polygon(100% 0, 0% 100%, 100% 100%);
        background: $hcmbgyellow;
      }

      .hcm-notification {
        width:50px;
        display: inline-block;
        text-align: center;
        position:relative;
        .notification-alert {
          position: absolute;
          top: 0; left: 17px;
          text-align: center;
          background:$hcmbgred;
          width: 15px; height: 15px;
          line-height: 15px;
          color: #fff;
          border-radius: 50%;
          font-size: 10px;
        }
      }

      /*left_navigation-Starts*/
      .display-profile {
        display: inline-block;
        text-align: center;
        position: relative;
        label {
          font-size: 13px;
          padding: 0 5px;
          width: 100px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          color:$hcmtextblue;
        }
        figure {
          width:42px;
          display: block;
          margin: 0 auto;
          position: relative;
          border:2px solid $hcmbgred;
          border-radius: 100%;
          height: 42px;

          img {
            width: 38px;
            height: 38px;
            overflow: hidden;
            border-radius: 100%;
          }
          .user-menu {
            display: inline-block;
            position: absolute;
            bottom: 0px;
            right: -5px;
            width:15px;
            height: 15px;
            background: $hcmbgred;
            border-radius: 100%;
            cursor: pointer;
            .fa-ellipsis-h {
              color: #fff;
              font-size: 12px;
              line-height: 16px;
              display: block;
            }
            &.rotation {
              .fa-ellipsis-h { transform: rotate(90deg);}
            }
          }
        }
        .profile-data {
          display: none;
          position: absolute;
          top: 100%;
          right: 0px;
          z-index: 99999;
          ul {
            display: block;
            li {
              display: block;
            }
          }
        }
      }
    }
    .hcm-search-menu {
      background:$hcmbgyellow;
      display: inline-block;
      vertical-align: bottom;
      position: relative;
      margin-right: 15px;
      padding: 2px 10px 2px 0px;
      &::after {
        content: '';
        position: absolute;
        left:-25px;
        top: 0px;
        width:25px;
        height: 100%;
        -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
        clip-path: polygon(100% 0, 0% 100%, 100% 100%);
        background: #F9DB00;
      }
      .search-btn {
        display: inline-block;
        padding: 5px;
        float: right;
        cursor: pointer;
        z-index: 999;
        position: relative;

      }

      .hcm-search-form {
        width:140px;
        display: inline-block;
        float: right;
        -webkit-transition: width 0.5s; /* Safari */
        transition: width 0.5s;
        width: 0px;
        overflow: hidden;
        input {
          display: block;
          width: 100%;
          padding: 3px 10px;
          background: transparent;
          border:none;
          border-bottom:2px solid $hcmbgblue;
          font-size: 12px;
          line-height: 15px;
          margin-top: 5px;
        }
        &.open {
          width: 140px;
        }
      }
    }
  }
}
