﻿//background
$hcmtextred: #ef4647;
$hcmred-hover:#e21f1f;
$hcmtextyellow:#F9DB00;
$hcmtextblue:#4565a0;
$hcmblue-hover:#7287ad;
$hcmtextorange:#E87F22;
$hcmtextgreen:#B3E823;
$hcmtextdarkgrey:#333;
$hcmtextwhite:#ffffff;
$hcmtextblack:#000;
$hcmtextnavblue:#43639c;
$hcmtextgrey:#e6e5e5;
$hcmtextashgrey:#a9adae;
$hcmnavborblue:#587ba4;




// font-colors
$hcmbgred: #ef4647;
$hcmred-hover:#e21f1f;
$hcmbgyellow:#F9DB00;
$hcmbgblue:#4565a0;
$hcmblue-hover:#7287ad;
$hcmbgorange:#E87F22;
$hcmbggreen:#B3E823;
$hcmbgdarkgrey:#333;
$hcmbgwhite:#ffffff;
$hcmbgblack:#000;
$hcmbgnavblue:#43639c;
$hcmnavborblue:#587ba4;
$hcmbggrey:#e6e5e5;
$hcmbgashgrey:#a9adae;







